In [1]:
import json
import pandas as pd
with open('attributes-seattle.json', 'r') as file:
    data = json.load(file)
    df = pd.json_normalize(data)
    df = pd.json_normalize(df['features'][0])

In [2]:
df.head()

,type,geometry.type,geometry.coordinates,properties.attribute_id,properties.label_type,properties.neighborhood,properties.severity,properties.is_temporary
0,Feature,Point,"[-122.29898071289062, 47.5946159362793]",52096165,SurfaceProblem,Atlantic,4.0,False
1,Feature,Point,"[-122.30107116699219, 47.59335708618164]",52096166,SurfaceProblem,Atlantic,3.0,False
2,Feature,Point,"[-122.30107879638672, 47.59684371948242]",52096167,SurfaceProblem,Atlantic,4.0,False
3,Feature,Point,"[-122.30107116699219, 47.596500396728516]",52096168,SurfaceProblem,Atlantic,4.0,False
4,Feature,Point,"[-122.3062744140625, 47.59992980957031]",52096365,NoCurbRamp,Atlantic,4.0,False

In [ ]:
df['longitude'] = list(map(lambda x: x[0], df['geometry.coordinates']))
df['latitude'] = list(map(lambda x: x[1], df['geometry.coordinates']))

In [4]:
df.drop(['geometry.coordinates'],axis=1, inplace=True)

In [5]:
df.columns = ['type','geometry_type','attribute_id','label_type','neighborhood','severity','is_temporary','longitude','latitude']
df.head()

,type,geometry_type,attribute_id,label_type,neighborhood,severity,is_temporary,longitude,latitude
0,Feature,Point,52096165,SurfaceProblem,Atlantic,4.0,False,-122.298981,47.594616
1,Feature,Point,52096166,SurfaceProblem,Atlantic,3.0,False,-122.301071,47.593357
2,Feature,Point,52096167,SurfaceProblem,Atlantic,4.0,False,-122.301079,47.596844
3,Feature,Point,52096168,SurfaceProblem,Atlantic,4.0,False,-122.301071,47.596500
4,Feature,Point,52096365,NoCurbRamp,Atlantic,4.0,False,-122.306274,47.599930

In [6]:
df.to_csv('seattle_dataset.csv')

In [7]:
df.shape

(81973, 9)